{% extends "base.html" %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/lolinka.css' %}"/>

{% block title %}HipoProfil{% endblock %}
{% block left-content %} Aktywność Twoich znajomych
<div class="container">
<h2>Znajomi</h2>
{% for user in all_users %}
<div class="row">
    <div class="col-xs-3">   {{ user.user.username }} </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-3">
        <a href="/profile/{{user.user.id}}">
            Profil
        </a>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-sucess" ng-click="add_friend('{{user.user.id}}')" id="{{user.user.id}}"><span class="glyphicon glyphicon-plus"/></button>
    </div>
</div>

{% endfor %}
    Skorzystaj z filtra i zaproś przyjaciół!
      <form method="POST" action="{% url 'portal.user_views.account' %}"> {{ csrf_token }}
<div class=row>
        <input type="hidden" name="disease_id" value="{{ disease.id }}"><br/>
    <div class="col-xs-12">
        <textarea name="text_to_search" class="find_user"></textarea><br/>
    </div>
</div>
<div class=row>
    <div class="col-xs-12">
        <input type="submit" name="find_user" class="btn btn-success"/><br/>
    </div>
</div>
          </form>
    {% for user in founded_users %}
<div class="row">
    <div class="col-xs-3">   {{ user.user.username }} </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-3">
        <a href="/profile/{{user.user.id}}">
            Profil
        </a>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-sucess" ng-click="add_friend('{{user.user.id}}')" id="{{user.user.id}}"><span class="glyphicon glyphicon-plus"/></button>
    </div>
</div>

{% endfor %}
</div>
{% endblock %}
{% block content %}

<div style="margin-top:5%"></div>
<nav>
  <a href="#sec1">Moja aktywność</a> |
  <a href="#sec1">Znajomi</a> |
  <a href="#personal">Moje dane</a> |
    <a href="#commentaries">Moje komentarze</a> |
    <a href="/js/">Zgłoś dolegliwość</a> |
    <a href="/js/">Dodaj artykuł</a> |
  <a href="/jquery/">Moje artykuły </a>
</nav>
<h2 id="commentaries">To Twoje komentarze:</h2>
 {% if    user.comments %}
 {% for comment in user.comments %}
        <div class="comment">
            <img src="../static/images/landscape.png" class="image_little_profile"/>
            <span class="comment_header">{{ comment.date_publication }}, {{ comment.user.username }}    </span>
            <p class="comment_dsc">{{ comment.description }}</p>
        </div>
    {% endfor %}
{% else %}
<p>Jeszcze nie dodałeś komentarzy!</p>
{% endif %}
<div id="jeden">1</div>

<h2 id="personal">To Twoje dane osobowe:</h2>
<button class="btn btn-success">
                <span class="glyphicon glyphicon-refresh"/>Odśwież statystyki
            </button>
    <form method="POST" action="{% url 'portal.user_views.account' %}">{% csrf_token %}
<table>
    <tr><td>Imię </td><td><input type="text" name="name" value="{{ my_user.user.username }}" style="margin-left:5%;border:solid green" > </td></tr>
    <tr><td>Nazwisko </td><td> <input type="text" name="surname" value="{{ my_user.user.surname }}" style="margin-left:5%;border:solid green" ></td></tr>
    <tr><td>E-mail</td><td> <input type="text" name="e-mail" value="{{ my_user.user.email }}" style="margin-left:5%;border:solid green" ></td></tr>
    <tr><td>Data urodzenia</td><td> <input type="date" name="birthday" value="{{ my_user.birthdate }}" style="margin-left:5%;border:solid green" ></td></tr>
    <tr><td>Liczba prowadzonych dyskusji</td><td> <input type="text" name="fname" value="{{ my_user.discusion_present_count }}" style="margin-left:5%;border:solid green" readonly></td></tr>
    <tr><td>Liczba dodanych chorób</td><td> <input type="text" name="fname" value="{{ my_user.disease_added_count }}" style="margin-left:5%;border:solid green" readonly></td></tr>
   <tr><td>Liczba przyznanych punktów</td><td><input type="text" name="fname" value="{{ my_user.point }}" style="margin-left:5%;border:solid green" readonly></td></tr>
    <tr><td>Liczba dodanych komentarzy</td><td> <input type="text" name="fname" value="{{ my_user.comment_count }}" style="margin-left:5%;border:solid green" readonly></td></tr>
    <tr><td>O mnie</td><td><input type="text" name="about" value="{{ my_user.note }}" style="margin-left:5%;border:solid green" ></td></tr>
</table>
    <input type="submit" style="margin-top:50px;" class="btn btn-success" value="Zatwierdź"/>
    </form>

{% endblock %}
