{% extends "base.html" %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/lolinka.css' %}"/>

{% block title %}HipoProfil{% endblock %}
{% block left-content %} Aktywność Twoich znajomych
<h2>Znajomi Użytkownika {{ my_user.user.username }}</h2>
{% for user in my_user.user.friends %}
<div class="all_user">
<div class="container">
<div class="row">
<div class="col-xs-3">   {{ user.user.username }} </div>
<div class="col-xs-2"></div>
<div class="col-xs-3">
    <a href="/profile/{{user.user.id}}">
        Profil
    </a>
</div>
</div>
</div>
</div>
{% empty %}
Na razie brak znajomych
{% endfor %}
{% endblock %}

{% block content %}
<div class="container">
    <div style="margin-top:5%"></div>
    <h2>Użytkownik: {{ my_user.user.username }}</h2>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-success">
                <span class="glyphicon glyphicon-refresh"/>Odśwież statystyki
            </button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form method="POST" action="{% url 'portal.user_views.add_friend' user_id=my_user.id %}">{% csrf_token %}
                <input type="submit" class="btn btn-success">Dodaj przyjaciela</input>
            </form>
        </div>
</div>

<div class=row>
    <div class="col-md-2"></div>
<table>
    <tr><td>Imię </td><td><input type="text" name="name" value="{{ my_user.user.username }}" style="margin-left:5%;border:solid green" > </td></tr>
    <tr><td>Data urodzenia</td><td> <input type="date" name="birthday" value="{{ my_user.birthdate }}" style="margin-left:5%;border:solid green" readonly></td></tr>
    <tr><td>Liczba prowadzonych dyskusji</td><td> <input type="text" name="fname" value="{{ my_user.discusion_present_count }}" style="margin-left:5%;border:solid green" readonly></td></tr>
    <tr><td>Liczba dodanych chorób</td><td> <input type="text" name="fname" value="{{ my_user.disease_added_count }}" style="margin-left:5%;border:solid green" readonly></td></tr>
    <tr><td>Liczba przyznanych punktów</td><td><input type="text" name="fname" value="{{ my_user.point }}" style="margin-left:5%;border:solid green" readonly></td></tr>
    <tr><td>Liczba dodanych komentarzy</td><td> <input type="text" name="fname" value="{{ my_user.comment_count }}" style="margin-left:5%;border:solid green" readonly></td></tr>
    <tr><td>O {{ my_user.user.username }}</td><td><input type="text" name="about" value="{{ my_user.note }}" style="margin-left:5%;border:solid green" readonly></td></tr>
</table>
</div>
</div>
{% endblock %}
