{% extends "base.html" %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/lolinka.css' %}"/>

{% block title %}HipoProfil{% endblock %}
{% block left-content %} Aktywność Twoich znajomych
<h2>Znajomi</h2>
{% for user in all_users %}
<div class="all_user">
    {{ user.user.username }}
    <a href="/profile/{{user.user.id}}">
        Profil
    </a>
    <button class="btn btn-sucess" ng-click="add_friend()" id="{{user.user.id}}"><span class="glyphicon glyphicon-plus"/></button>
</div>

{% empty %}
Skorzystaj z filtra i zaproś przyjaciół!
{% endfor %}

        <input type="hidden" name="disease_id" value="{{ disease.id }}"><br/>
    <textarea name="find_user" class="find_user"></textarea><br/>
    <input type="submit" style="margin-top:50px;" class="btn btn-success" value="Dodaj komentarz"/>

{% endblock %}
{% block content %}

<div style="margin-top:5%"></div>
<h2 id="personal">Użytkownik:</h2>

<table>
    <tr><td>Imię </td><td><input type="text" name="name" value="{{ my_user.user.username }}" style="margin-left:5%;border:solid green" > </td></tr>
    <tr><td>Nazwisko </td><td> <input type="text" name="surname" value="{{ my_user.user.surname }}" style="margin-left:5%;border:solid green" ></td></tr>
    <tr><td>E-mail</td><td> <input type="text" name="e-mail" value="{{ my_user.user.email }}" style="margin-left:5%;border:solid green" ></td></tr>
    <tr><td>Data urodzenia</td><td> <input type="date" name="birthday" value="{{ my_user.birthdate }}" style="margin-left:5%;border:solid green" ></td></tr>
    <tr><td>Liczba prowadzonych dyskusji</td><td> <input type="text" name="fname" value="{{ my_user.discusion_present_count }}" style="margin-left:5%;border:solid green" readonly></td></tr>
    <tr><td>Liczba dodanych chorób</td><td> <input type="text" name="fname" value="{{ my_user.disease_added_count }}" style="margin-left:5%;border:solid green" readonly></td></tr>
   <tr><td>Liczba przyznanych punktów</td><td><input type="text" name="fname" value="{{ my_user.point }}" style="margin-left:5%;border:solid green" readonly></td></tr>
    <tr><td>Liczba dodanych komentarzy</td><td> <input type="text" name="fname" value="{{ my_user.comment_count }}" style="margin-left:5%;border:solid green" readonly></td></tr>
    <tr><td>O mnie</td><td><input type="text" name="about" value="{{ my_user.note }}" style="margin-left:5%;border:solid green" ></td></tr>
</table>


{% endblock %}
