<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Po zdrowiu{% endblock %}</title>



</head>
<body id="body">

<div class="decent_background" id="header">
    <h1 id="header_text">{% block header %}Moje zdrowie{% endblock %}</h1>
</div>

<div id="logging">

        {% if login_problem %}
            <link rel="stylesheet" href="{{ STATIC_URL }}toastmessage/static/css/jquery.toastmessage.css">

            <script src="{{ STATIC_URL }}toastmessage/static//js/jquery.toastmessage.js"></script>
            <script type="text/javascript">
                $().toastmessage('showErrorToast', "Niepoprawne dane logowania!");
            </script>
        {% endif %}

</div>

<div style="clear: both;"></div>

<!-- a trick needed to separate header from content ;-) -->

<ul class="decent_background" id="menu">


    <li> 
        <ul>
            <li><a href="/locations" class="small_menu_button">WYSZUKAJ TEMAT</a></li>
            <li><a href="/location_adding" class="small_menu_button">NOWY KOMENTARZ</a></li>
        </ul>
    </li>

    <li><a href="/konto" class="big_menu_button">MOJE KONTO</a>
        <ul>

            <li><a href="#" class="small_menu_button">PROFIL</a></li>
            <li><a href="/my_comments" class="small_menu_button">MOJE KOMENTARZE</a></li>

        </ul>
    </li>
</ul>


<div id="content">

    {% block content %} {% endblock %}

</div>

</body>
</html>
