{% extends "base.html" %}



{% block title %}{{discussion.name}}{% endblock %}
{% block left-content %}
    <h4>Ostatnio utworzone dyskusje</h4>
{% for discussion in discussion_list %}
    <ul>
        {{ discussion.name }}
        <a href="/discussion/{{discussion.id}}">Czytaj</a>
    </ul>
{% endfor %}
{% endblock %}
{% block content %}
  <h3>Zapraszamy do tworzenia własnych grup dyskusyjnych o własnym temacie</h3>
<form method="POST" action="{% url 'portal.views.add_discussion' %}">{% csrf_token %}
{% for term in public_terms %}
  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2"><input type="radio" class="radio" value="{{term.code}}" name="term"></div>
      <div class="col-md-6">{{ term.name }}</div>
      <div class="col-md-3"></div>

  </div>
{% endfor %}
  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">Temat dyskusji</div>
      <div class="col-md-9"><textarea class="find_user" name="discussion_name"></textarea></div>
  </div>
  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">Jaki temat porusza dyskusja:</div>
      <div class="col-md-9"><textarea class="textarea_comment" name="description"></textarea></div>

  </div>
  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-5"><input type="submit" class="btn btn-success" value="Dodaję dyskusję"></div>
      <div class="col-md-3"></div>
  </div>
</form>
{% endblock %}
