{% extends "base.html" %}

{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/cyckowanie.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'styles/lolinka.css' %}"/>

{% block title %}Artykuł{% endblock %}
{% block left-content %} Ostatnie artykuły
<h2>Artykuły</h2>
{% for article in articles %}
<div class="article_left">{{ article.date_publication }}
<p><strong>
    <a href="/article/{{article.id}}">
        {{ article.name }}
    </a>
</strong>
</p>
    </div>
<div class="description_disease_short">
    {{ article.description|truncatewords:"10" }}... WIĘCEJ
</div>
{% endfor %}
{% endblock %}
{% block content %}
<form action="{% url 'portal.views.articles' %}" method="POST">
    {% csrf_token %}
    <input type="text" id="article_searcher" name="name_searchbox" class="name_searchbox" value=""/>
    <input type="submit" id="submit_searchbox" class="btn btn-success" name="search_disease" value="Szukaj"/>
</form>
<p>Najwyżej ocenione:</p>
{% for article in articles_selected %}
    <div class="disease">
    <h3>
        <a href="/article/{{disease.id}}">
        {{ article.name|upper }}
        </a>
    </h3>
    Opis:
        <div class="disease_description">
            <p style="font-size:18px;">{{ article.description|truncatewords:"10" }}...</p>
            <a href="/article/{{article.id}}">======>>>></a>
        </div>
    </div>
    <hr>
    {% empty %}
    <p>Nie znaleziono artykułów o takim tytule</p>
{% endfor %}
{% endblock %}
