{% extends "base.html" %}



{% block title %}{{disease.name}}{% endblock %}
{% block left-content %}
    <h4>Artykuły w dziedzinie {{ disease.name}}</h4>
    <ul>
    {% for article in disease.articles %}
        <li>
            <div id="description_disease_short">
                <a href="/article/{{article.id}}" style="margin-left:10px;">
                    {{ article.description|truncatewords:"3" }}
                </a>
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
{% block content %}



<div id="forum_question">

<div class="leave_comment">

    <ul>
    <li><a href="#tabs_forum">Forum</a></li>
    <li><a href="#tabs_hot_question">Pytanie do lekarza</a></li>
    <li><a href="#tabs_articles">Artykuły</a></li>
    <li><a href="#tabs_discussion">Grupy dyskusyjne</a></li>
    </ul>
</div>
    <hr/>
<div id="tabs_forum">
    <h3>{{ disease.name|upper }}</h3>
    <h5>Opis zjawiska:</h5>
    <div style="border:1px solid #730029; margin:10px;width:50%">
    <div id="dsc_disease_short"  style="margin:10px;"> {{ disease.description|truncatewords:"3"}}<button class="glyphicon glyphicon-plus" ng-click="more_dsc()"/></div>
    <div id="dsc_disease"  style="margin:10px;"> {{ disease.description }}<button style="margin-left:20px;" class="glyphicon glyphicon-minus" ng-click="less_dsc()"/></div>
    </div>
    <div id="commentaries">
        {% for comment in disease.comments %}
        <div class="row">
            <div class="col-md-8">
            <div class="comment">
                <img src="../static/images/landscape.png" class="image_little_profile"/>
                <span class="comment_header">{{ comment.date_publication }}, {{ comment.user.username }}    </span>
        {% ifequal comment.category.name "Specialized" %}
        <div class="row">
            <p class="comment_dsc">{{ comment.description }}</p>
        </div>
                {% if comment.tips %}
            <div class="row">
                <div class="col-md-4">Moje porady:</div>
                <div class="col-md-4">{{ comment.tips }}</div>
                <div class="col-md-4"></div>
              </div>
                {% endif %}
            <div class="row">
                <div class="col-md-4">Wiek w czasie choroby:</div>
                <div class="col-md-4">{{ comment.age }}</div>
                <div class="col-md-4"></div>
              </div>
            <div class="row">
                <div class="col-md-4">Czas trwania:</div>
                <div class="col-md-2">{{ comment.value_duration }}</div>
                <div class="col-md-2">{{ comment.unit_duration }}</div>
                <div class="col-md-4"></div>
              </div>
        {% else %}
                <p class="comment_dsc">{{ comment.description }}</p>
        {% endifequal %}
            </div>
            </div>
            <div class="col-md-2">
                {% if user.is_authenticated %}
                <div class="row">
                    <div class="col-md-8">
                        <form method="POST" action="{% url 'portal.views.like_comment' %}">{% csrf_token %}
                            <input type="hidden" name="commentary_id" value="{{ comment.id }}"/>
                            <input type="submit" class="btn btn-success" value="PLUSUJĘ"/>
                        </form>
                    </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-2">
                            {% for role in myuser.roles %}
                                {% ifequal role.name "Lekarz dyżurny" %}
                                    <form method="POST" action="{% url 'portal.views.like_comment' %}">{% csrf_token %}
                                        <input type="hidden" name="commentary_id" value="{{ comment.id }}"/>
                                        <input type="submit" class="btn btn-success" value="zgłoś"/>
                                    </form>
                                {% endifequal %}
                            {% endfor %}
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-5">Ocena komentarza:</div>
                    <div class="col-md-5">+{{ comment.point_comment }}</div>
                    <div class="col-md-2"></div>
                    </div>
                {% endif %}

            </div>
            <div class="col-md-2"></div>
        </div>
        {% if comment.image %}
        Zdjęcie zamieszczone do komentarza:
            {{ comment.image }}
        {% endif %}
        {% endfor %}
    </div>



<div class="leave_comment">
  <ul>
    <li><a href="#tabs-1">Skomentuj</a></li>
    <li><a href="#tabs-2">Sprecyzuj przebieg</a></li>
    <li><a href="#tabs-3">Postaw pytanie</a></li>
  </ul>
  <div id="tabs-1">
    <div id="add_my_comment">
        <form method="POST" action="{% url 'portal.views.add_comment' %}">{% csrf_token %}
            <input type="hidden" name="disease_id" value="{{ disease.id }}">
            <textarea class="textarea_comment" name="comment_to_add">A ja w czasie {{disease.name}} ...</textarea>
            <input type="submit" style="margin-top:50px;" class="btn btn-success" value="Dodaj komentarz"/>
        </form>
    </div>
  </div>
  <div id="tabs-2">
              <form method="POST" action="{% url 'portal.views.add_specific_comment' %}" enctype="multipart/form-data">{% csrf_token %}
                  <input type="hidden" name="disease_id" value="{{ disease.id }}">
        <div class="row">
            <div class="col-md-4">
                Czas trwania choroby
            </div>
            <div class="col-md-4">
                <select name="unit_duration" id="unit_duration">
                      <option value="">-- JEDNOSTKA --</option>
                      <option value="Dni">Dni</option>
                      <option value="Tygodni">Tygodni</option>
                      <option value="Miesięcy">Miesięcy</option>
                </select>
            </div>
            <div class="col-md-4">
                <select name="value_duration" id="value_duration"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Wiek w czasie choroby
            </div>
            <div class="col-md-4">
                <input type="number" name="age" min="1" max="100"/>
            </div>
            <div class="col-md-4"></div>
        </div>
      <div class="row">
            <div class="col-md-4">
                Porady/pomogło mi:
            </div>
            <div class="col-md-8">
                <textarea class="specific_comment" name="tips"></textarea>
            </div>
        </div>
      <div class="row">
            <div class="col-md-4">
                Dolegliwości:
            </div>
            <div class="col-md-8">
                <textarea name="description" class="specific_comment"></textarea>
            </div>

        </div>
      <div class="row">
            <div class="col-md-4"> Zmiany chorobowe </div>
            <div class="col-md-4">
                <input type="file" name="image" class="btn btn-primary" value="Załączam zdjęcie"/>
            </div>
            <div class="col-md-4"> </div>
      </div>
      <div class="row" style="margin:5px"></div>
      <div class="row">
            <div class="col-md-4"> </div>
            <div class="col-md-4">
                <input style="width:100%" type="submit" name="image" class="btn btn-success" value="Prześlij"/>
            </div>
            <div class="col-md-4"> </div>
      </div>
                          </form>
  </div>
  <div id="tabs-3">
        <form method="POST" action="{% url 'portal.views.add_comment' %}">{% csrf_token %}
            <input type="hidden" name="disease_id" value="{{ disease.id }}">
            <textarea class="textarea_comment" name="comment_to_add">Czy w czasie {{disease.name}}   ?</textarea>
            <input type="submit" style="margin-top:50px;" class="btn btn-success" value="Zadaj pytanie"/>
        </form>

  </div>
</div>
    </div><!--tabs-forum id-->
<div id="tabs_hot_question">

  {% for comment in disease.comments %}
    {% ifequal comment.category.name "Question" %}
        <div class="row">
            <div class="col-md-8">
            <div class="comment">
                <img src="../static/images/landscape.png" class="image_little_profile"/>
                <span class="comment_header">{{ comment.date_publication }}, {{ comment.user.username }}    </span>

                <div class="row">
                    <p class="comment_dsc">{{ comment.description }}</p>
                </div>
    {% endifequal %}
  {% endfor %}
    {% for role in myuser.roles %}
        {% ifequal role.name "Specjalista" %}
        <form method="POST" action="{% url 'portal.views.add_comment' %}">{% csrf_token %}
            <input type="hidden" name="disease_id" value="{{ disease.id }}">
            <textarea class="textarea_comment" name="comment_to_add"></textarea>
            <input type="submit" style="margin-top:50px;" class="btn btn-success" value="Pytanie do specjalisty"/>
        </form>
        {% endifequal %}
    {% endfor %}
</div><!--tabs-hot_question id-->

<div id="tabs_articles">
                {% for article in disease.articles %}
<div class="article_left">{{ article.date_publication }}
<p><strong>
    <a href="/article/{{article.id}}">
        {{ article.name }}
    </a>
</strong>
</p>
    </div>
<div class="description_disease_short">
    {{ article.description|truncatewords:"10" }}... WIĘCEJ
</div>
{% endfor %}
</div><!--tabs-article id-->
<div id="tabs_discussion">
    W wątku choroby {{disease.name }} założono grupy dyskusyjne:

</div><!--tabs-discussion id-->
</div><!--forum_question id-->

{% endblock %}
