{% extends "base.html" %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/lolinka.css' %}"/>

{% block title %}Wyszukiwarka{% endblock %}
{% block content %}
<p>Wyszukaj interesującej dolegliwości</p>
<form action="{% url 'portal.views.search_disease' %}" method="POST">
<input type="text" id="last_name_searchbox" class="name_searchbox" value=""/>
<input type="submit" id="submit_searchbox" class="btn btn-success" name="search_disease" value="Szukaj"/>
</form>
<p>Ostatnio omawianie:</p>
{% for disease in diseases_list %}
<div class="disease">
{{ disease.Name}}
<h3><a href="/disease/{{disease.id}}">
    {{ disease.name|upper }}
</a>
</h3>
Opis:
    <div class="disease_description">
<p>{{ disease.description|truncatewords:"10" }}...</p>
        </div>
</div>
<hr>
{% endfor %}

{% endblock %}
