{% extends "base.html" %}

{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/cyckowanie.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'styles/lolinka.css' %}"/>

{% block title %}Wyszukiwarka{% endblock %}


{% block left-content %}
<h3>Ostatnio dodane choroby</h3>
<ul>
    {% for disease in diseases_list %}
        <div class="description_disease_short">
        <li>
        <a href="/disease/{{disease.id}}">
            {{ disease.name|upper }}
        </a>
        </li>
        </div>

    {% endfor %}
</ul>
{% endblock %}
{% block content %}

<p>Wyszukaj interesującej dolegliwości</p>`
    <style>
  .ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}
        .ui-menu-item:hover{
        background-color: #0033cc;
        }

    </style>
<form action="{% url 'portal.views.search_disease' %}" method="POST">
    {% csrf_token %}
<input type="text" id="reksio_pomocnik" name="last_name_searchbox" class="name_searchbox" value=""/>
<input type="submit" id="submit_searchbox" class="btn btn-success" name="search_disease" value="Szukaj"/>
</form>
<p>Ostatnio omawianie:</p>
{% for disease in diseases_list %}
<div class="disease">
<div><p>{{ disease.Name}}</p></div>
<h3><a href="/disease/{{disease.id}}">
    {{ disease.name|upper }}
</a>
</h3>
Opis:
    <div class="disease_description">
<p style="font-size:18px;">{{ disease.description|truncatewords:"10" }}...</p>
        <a href="/disease/{{disease.id}}">======>>>></a>
        </div>
</div>
<hr>
{% endfor %}

{% endblock %}
