<!DOCTYPE html>
<html ng-app="diseaseApp">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Po zdrowiu{% endblock %}</title>
    {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/lolinka.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'styles/site.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.css' %}"/>
<script src="{% static 'scripts/angular.js' %}"></script>


<script src="{% static 'js/django-angular.js' %}"></script>
<script src="{% static 'js/diseasecontroller.js' %}"></script>

</head>
<body id="body">

<div class="page">

    <div class="left-bar">
        <div class="menu" style="margin-top:80px; margin-left:10%"; >
        {% block left-content %} {% endblock %}
 </div>
    </div>
    <div class="right-bar">
        <div class="header">
            <div class="decent_background" id="header">	<div id="logging">
		{% if user.is_authenticated %}
		<h2 id="user_welcome">Witaj, {{user.username}}!</h2>
		  <a id="logout_button" href="{% url 'portal.user_views.logouting' %}">Wyloguj się</a>
		{% else %}
		<form method="post" action="{% url 'portal.user_views.logging' %}">
			{% csrf_token %}
				<p>
					<label for="id_username">Username:</label> <input id="id_username"
						type="text" name="username" maxlength="30" size="17" />
				</p>
				<p>
					<label for="id_password">Password:</label> <input type="password"
						name="password" id="id_password" size="17" />
				</p>


			<div id="log_button">
				<input id="login" type="submit" value="Log in" />
			</div>
		</form>
		{% endif %}
	</div>
                <h1 id="header_text" style="text-align:center">{% block header %}Hipochondryk{% endblock %}</h1>
            </div>


<div class="down-header" >
                        <nav>
                            <a style="color:#D41B56 !important" href="/search_disease/" class="top_menu_button">WYSZUKAJ TEMAT</a>
            <a style="color:#2E8B57 !important" href="/articles" class="top_menu_button">ARTYKUŁY</a>
           {% if user.is_authenticated %}
           <a style="color:#FF2400 !important" href="/account" class="top_menu_button">MOJE KONTO</a>
             {% endif %}
        </nav>
</div>
                    </div>
        <div class="content"  ng-controller="DiseaseListCtrl">
            <div id="content">
      {% block content %} {% endblock %}
            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</div>
<!-- a trick needed to separate header from content ;-) -->



</body>
</html>
