<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Po zdrowiu{% endblock %}</title>
    {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/lolinka.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'styles/site.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.css' %}"/>


</head>
<body id="body">



<div id="logging">

        {% if login_problem %}
            <link rel="stylesheet" href="{{ STATIC_URL }}toastmessage/static/css/jquery.toastmessage.css">

            <script src="{{ STATIC_URL }}toastmessage/static//js/jquery.toastmessage.js"></script>
            <script type="text/javascript">
                $().toastmessage('showErrorToast', "Niepoprawne dane logowania!");
            </script>
        {% endif %}

</div>

<div class="page">
    <div class="left-bar">
        <div class="menu" style="margin-top:80px">
        <ul class="menu">
            <li><a href="/search_disease/" class="small_menu_button">WYSZUKAJ TEMAT</a></li>
            <li><a href="/location_adding" class="small_menu_button">ARTYKUŁY</a></li>
            <li><a href="/konto" class="big_menu_button">MOJE KONTO</a> </li>
        </ul>
 </div>
    </div>
    <div class="right-bar">
        <div class="header">
            <div class="decent_background" id="header">
                <h1 id="header_text" style="text-align:center">{% block header %}Moje zdrowie{% endblock %}</h1>
            </div>
        </div>
        <div class="content">
            <div id="content">
                {% block content %} {% endblock %}
            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</div>
<!-- a trick needed to separate header from content ;-) -->



</body>
</html>
