
#description_disease_short{
        color: #FF6D66;

}
#gora {
    background-image: url("../images/night_background.jpg");
}
/*left*/

.article_left{
border-top:2px solid #800000;
margin:5%;
}

/*menu*/

.top_menu_button{
margin-left:15px;
}
#logging{
float: right;
}
/*forum*/

#commentaries{
margin:30px;

}
img.image_little_profile{
max-width:90px;
max-height:200px;
}
.comment{
border-top:2px solid #800000;
color: 	#660033;
width:50%;
height:150px;

}
.comment_header{
margin:10px;

}
.comment_dsc{
margin:10px;

}
.disease{
margin:15px;
    box-shadow: 2px 2px 2px #006633;
    border-radius: 4px;
    width:50%;
    height:120px;
}
p.disease{
margin:15px;
}
#content{
    margin-left:5%;
}
#add_my_comment{


}

table#specific_comment{
font-size: 20px;
margin-top:15px;
}
textarea.specific_comment{
    width: 90%;
    margin:0px;
    text-align: left;
    padding: 2px;
    border: 1px solid  	#008000;
    box-shadow: 1px 1px 1px #777777;
   border-radius: 1px;
}
textarea.textarea_comment{
font-size: 20px;
    width: 50%;
    margin:15px;
    text-align: left;
    padding: 7px;
    border: 3px solid  	#008000;
    box-shadow: 2px 2px 2px #777777;
   border-radius: 4px;
}

textarea.find_user{
    font-size: 20px;
    width: 50%;
    height:25px;
    margin:5px;
    text-align: left;
    padding: 3px;
    border: 1px solid  	#008000;
    box-shadow: 1px 1px 1px #777777;
    border-radius: 2px;
}
input.name_searchbox {
    font-size: 25px;
    width: 30%;
    margin:15px;
    text-align: center;
    padding: 7px;
    border: 3px solid  	#008000;
    box-shadow: 2px 2px 2px #777777;
    border-radius: 4px;
}
hr {
    display: block;
    border-style: inset;
    color:#36454F;
    width:50%;
    size:5px;
    align:right;

}
#leave_comment{
    font-size:20px;
}
#leave_comment ul
{
margin-left: 10%;
padding: 0;
list-style-type: none;
text-align: left;
margin-bottom:10px;

}

#leave_comment ul li { display: inline;  }

#leave_comment ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
box-shadow: 1px 1px 1px #777777;
}

#leave_comment ul li a:hover
{
color: #fff;
background-color: #369;
}

ul.menu {
   list-style: none;
   margin: 0;
   padding: 10;
   font-size: 22px;
}

li { padding: 5px 0; }
a {
  color: 	#19A56F;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

#pasek {
    position: fixed;
    top: 50%;
    height: 2%;
    width: 99.5%;
    border: 5px solid brown;
    background-color: cyan;
}

#kwadrat{
    position: absolute;
    width: 30%;
    height: 40%;
    border: 5px solid darkblue;
    background: #000000;
    margin-left: 35%;
    margin-top: -10%;
    z-index: 100; /* dodatni oznacza wypchni�cie NAD obiekty o ni�szym z*/
}


#dol {
    background-image: url("../images/day_background.jpg");
}