


.gora_dol {
    height: 50%;
    width: 100%;

}
#description_disease_short{
        color: #E1EFF8;
}
#gora {
    background-image: url("../images/night_background.jpg");
}

#pasek {
    position: fixed;
    top: 50%;
    height: 2%;
    width: 99.5%;
    border: 5px solid brown;
    background-color: cyan;
}

#kwadrat{
    position: absolute;
    width: 30%;
    height: 40%;
    border: 5px solid darkblue;
    background: #000000;
    margin-left: 35%;
    margin-top: -10%;
    z-index: 100; /* dodatni oznacza wypchni�cie NAD obiekty o ni�szym z*/
}


#dol {
    background-image: url("../images/day_background.jpg");
}