
#description_disease_short{
        color: #E1EFF8;
}
#gora {
    background-image: url("../images/night_background.jpg");
}

#commentaries{
margin:30px;

}
img.image_little_profile{
max-width:90px;
max-height:200px;
}
.comment{
border-top:2px solid #800000;
color: 	#660033;
width:50%;
height:150px;

}
.comment_header{
margin:10px;

}
.comment_dsc{
margin:10px;

}
#content{
    margin:0px;
}
#add_my_comment{
margin-top:30px;
border-top:4px solid #800000;
}
textarea.textarea_comment{
font-size: 20px;
    width: 50%;
    margin:15px;
    text-align: left;
    padding: 7px;
    border: 3px solid  	#008000;
    box-shadow: 2px 2px 2px #777777;
    border-radius: 4px;
}
input.name_searchbox {
    font-size: 25px;
    width: 30%;
    margin:15px;
    text-align: center;
    padding: 7px;
    border: 3px solid  	#008000;
    box-shadow: 2px 2px 2px #777777;
    border-radius: 4px;
}
hr {
    display: block;
    border-style: inset;
    color:#36454F;
    width:50%;
    size:5px;
    align:right;

}
ul.menu {
   list-style: none;
   margin: 0;
   padding: 10;
   font-size: 22px;
}

li { padding: 5px 0; }
a {
  color: 	#19A56F;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

#pasek {
    position: fixed;
    top: 50%;
    height: 2%;
    width: 99.5%;
    border: 5px solid brown;
    background-color: cyan;
}

#kwadrat{
    position: absolute;
    width: 30%;
    height: 40%;
    border: 5px solid darkblue;
    background: #000000;
    margin-left: 35%;
    margin-top: -10%;
    z-index: 100; /* dodatni oznacza wypchni�cie NAD obiekty o ni�szym z*/
}


#dol {
    background-image: url("../images/day_background.jpg");
}